python==3.10.4
jupyterlab==3.4.2
numpy==1.21.6
matplotlib==3.5.2
pandas==1.4.2
scikit-learn==1.1.1
seaborn==0.11.2
scipy==1.8.1
plotly==5.8.0
statsmodels==0.13.2
matplotlib-venn==0.11.7
cimcb-lite==1.0.2
missingno==0.5.1
openpyxl==3.0.9
striprtf==0.0.20
umap-learn==0.5.3